@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "omnes-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px
}


h1 {
  font-family: "termina", sans-serif;
  font-weight: 500;
  font-style: normal;
  }

h2 {
  font-family: "termina", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  }

h3 {
  font-family: "omnes-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  }

h4 {
  font-family: "omnes-pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}

p {
  font-family: "omnes-pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px
}

.profile-text {
        font-family: "omnes-pro", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px
}

.background-video{
    position: fixed;
}
    

hr {
height: 0.1px;
width: 100%;
border: 0;
background: #cdaa94a8;
}

.clients-love {
    background-image: url(./images/OurClients.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

.sub::after{
    content: "Cannot change subscription during term";
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 10px;
}

.profile{
    border-color: #FAEAE0;
    border-width: 1px;
    border-radius: 1%;
}

.profile-button{
    background-color: #FAEAE0;
    border-color: #FAEAE0;
    font-size: 20px;
}

.profile-button:hover{
    background-color: #A28D7A;
    border-color: #A28D7A;
    color: white;
}